<h1>WELCOME TO HALL OF FAME</h1>
<h2>This is our best fighters</h2>
<table class="hall-of-fame-table-ranking">

        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Wins</th>
        </tr>
        </thead>
    {{#each hallOfFameList}}
        <tbody>
        <tr>
            <td>{{this.place}}</td>
            <td>{{this.warrior.name}}</td>
            <td>{{this.warrior.wins}}</td>
        </tr>
        </tbody>
    {{/each}}
</table>
