<section class="hall-of-fame-text">
<h1>WELCOME TO HALL OF FAME</h1>
<p>
    The Hall of Fame is a prestigious recognition given to the best warriors of all time who have achieved remarkable
    feats and left a lasting impact on history. It serves as a tribute to their exceptional skills, bravery, and
    contributions to the art of warfare.
</p>
<p>
    Inductees into the Hall of Fame are typically individuals who have displayed extraordinary prowess in battle,
    strategic thinking, leadership qualities, and unmatched valor. These warriors have demonstrated their abilities
    across various historical periods and cultures, leaving an indelible mark on the collective memory of humanity.
<p>
    The Hall of Fame seeks to honor and preserve the legacies of these exceptional warriors, ensuring that their names
    and achievements are remembered for generations to come. Their stories inspire others to strive for greatness and
    serve as a testament to the remarkable human capacity for courage, skill, and resilience in the face of adversity.
</p>
<p>
    By acknowledging the best warriors of all time in the Hall of Fame, we pay homage to their significant contributions
    to military history and recognize the enduring impact they have had on shaping the world as we know it today.
</p>
<h2>This is our best fighters</h2>
    </section>
<table class="hall-of-fame-table-ranking">

    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Wins</th>
    </tr>
    </thead>
    {{#each hallOfFameList}}
        <tbody>
        <tr>
            <td>{{this.place}}</td>
            <td>{{this.warrior.name}}</td>
            <td>{{this.warrior.wins}}</td>
        </tr>
        </tbody>
    {{/each}}
</table>
