<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fight Club</title>
    <link rel="stylesheet" href="/style/style.css"/>
</head>

<body>
<header>
<h1><a href="/">Fight Club!</a></h1>
<div class="navigation-bar">
<nav class="navigation-bar-buttons">
<ul  class="navigation-bar-ul">
    <li><a href="/arena/fight-form">Arena</a></li>
    <li><a href="/warrior/add-form">Warriors</a></li>
    <li><a href="/hall-of-fame/">Hall of Fame</a></li>
</ul>
</nav>
</div>
</header>
<hr>
{{{body}}}
</body>
</html>
