<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fight Club</title>
</head>
<body>
<h1>Fight Club!</h1>
<ul>
    <li><a href="/arena">Arena</a></li>
    <li><a href="/warrior">Warriors</a></li>
    <li><a href="/hall-of-fame">Hall of Fame</a></li>
</ul>
<hr>
{{{body}}}
</body>
</html>
