footer {
    margin-top: 40px;
    font-weight: 400;
    background-color: #181818;
}
.ft-social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background-color: #1e1e1e;
    gap: 5vh;
}
.ft-social-list li {
    font-size: 2vh;
    color: inherit;
    width: 4vh;
    height: 4vh;
    line-height: 38px;
    flex: 1 1 auto;
    display: inline-block;
    text-align: center;
    opacity: 0.75;
}
.ft-social-list a {
    text-decoration: none;
    color: inherit;
}

.ft-social a:hover {
    opacity: 0.9;
}
.ft-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.ft-main-item ul{
    display: flex;
    flex-direction: row;
    gap: 3vh;
    list-style-type: none;
}
ft-main-item ul li{
    justify-content: center;
    border: 1px solid #3e8e41;
}
.ft-main-item li a {
    text-decoration: none;
    color: inherit;
}
.ft-legal {
    max-width: 75vh;
}
.ft-legal-logo {
    max-width: 5vh;
    margin: 1% 0px 0 1% ;
}
