footer {
    padding: 15px;
    max-height: 17%;
    font-weight: 400;
    background-color: #2e2e2e;
    color: #5d5c5c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
}
.ft-social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    gap: 5vh;
}
.ft-social-list li {
    font-size: 2vh;
    color: inherit;
    width: 4vh;
    height: 4vh;
    line-height: 38px;
    flex: 1 1 auto;
    display: inline-block;
    text-align: center;
    opacity: 0.75;
}
.ft-social-list a {
    text-decoration: none;
    color: inherit;
}

.ft-social a:hover {
    opacity: 0.9;
}
.ft-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
ft-main-item{
    margin-top: 10px
}

.ft-main-item ul{
    display: flex;
    flex-direction: row;
    gap: 3vh;
    list-style-type: none;
}
ft-main-item ul li{
    justify-content: center;
    border: 1px solid #3e8e41;
}
.ft-main-item li a {
    text-decoration: none;
    color: inherit;
}
.ft-legal {
    display: flex;
    justify-content: space-between;
}
.ft-legal-logo {
    min-width: 10vh;
    margin: 1vh;

}
.ft-legal-list li{
  list-style: none;
}
.ft-legal-list a{
    text-decoration: none;
    color: inherit;

}
.ft-separation-line {
    height: 1px;
    background: #c1c6c9;
    margin: 0 10vh 0 10vh;
}
