
header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #1f1e1e;
}

.header-logo img {
    display: block;
    height: 10vh;
    margin: 2vh 25vw 2vh 0vh;
}

.header-navigation-bar ul {
    display: flex;
    text-align: center;
    list-style: none;
    align-content: stretch;
    justify-content: center;
    flex: 1 1 auto;
    gap: 3vw;
}

.header-navigation-bar ul li a {
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    padding: 4vh;
    transition: background-color 0.8s;
}

.header-navigation-bar ul li a:hover {
    background-color: #555;
}


.login-container {
    display: flex;

}

.btn-login {
    text-align: center;
    margin-left: 5vw;
    padding: 1vh 5vh 1vh 5vh;
    color: inherit;
    font-size: 1.5em;
    font-weight: bolder;
    background: linear-gradient(#dd3050,#785aa5);
    border-radius: 10px;
    transition: 0.8s;
}

.btn-login:hover,
.btn-login:focus {
    box-shadow: 0 0 0 5px #785aa5;
}

.login-container a {
    text-decoration: none;
    color: inherit;
}

.navigation-bar {
    background-color: #464141;
    width: 50vw;
    display: flex;
    padding: 1vh 30vw 1vh 30vw;
    margin: 3% 25% 3% 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 1vh 1vh 0vh #dd3050;
}


.navigation-bar-ul {
    justify-content: flex-start;
    align-items: stretch;
    list-style-type: none;
    display: flex;
    flex: 1 1 auto;
    gap: 10vh;
}

.navigation-bar-ul li {
    display: flex;

}

.navigation-bar-ul li a {
    text-align: center;
    text-decoration: none;
    height: 100%;
    padding: 2em 2em 2em 2em;
    border-radius: 10px;
    transition: background-color 0.8s;
    color: white;
    white-space: nowrap;


}

.navigation-bar-ul li a:hover {
    background-color: #555;
}

.navigation-bar-ul li a:active {
    background-color: #777;
}
