.hall-of-fame-table-ranking {
    margin: 10vh auto;
    border-collapse: separate;
    width: 60%;
    background-color: #252323;
    color: white;
}


.hall-of-fame-table-ranking th,
.hall-of-fame-table-ranking td {
    padding: 12px;
    text-align: center;
    border: 4px solid #2f2c2c;
    color: white; /* Set the text color to white */
}

.hall-of-fame-table-ranking th {
    font-weight: bold;
    border: none;
}

.hall-of-fame-table-ranking td:first-child {
    font-weight: bold;
}

.hall-of-fame-table-ranking tr:nth-child(even) {
    background-color: #2f2f2f;
}

.hall-of-fame-table-ranking tr:hover {
    background-color: #363636;
}
