.hall-of-fame-table-ranking {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}

.hall-of-fame-table-ranking th,
.hall-of-fame-table-ranking td {
    padding: 8px;
    text-align: center;
    border: 1px solid #9340ff;
}

.hall-of-fame-table-ranking th {
    background-color: #1f1818;
    color: #ff66c4;
    font-weight: bold;
}



.hall-of-fame-table-ranking td:first-child {
    font-weight: bold;
}
