<div class="error">
    <div class="error-header">
        <img src="/img/error-icon.png" alt="Error-icon" class="img-error-icon">
        <h2>Error!</h2>
    </div>
    <div class="error-message">
        <p>{{message}}</p>
    </div>
</div>
