<div class="login-div">
    <form class="login-form">
        <div class="login-div-email">
            <p>Email:</p>
            <input type="email" class="login-input-email"/>
        </div>
        <div class="login-">
            <p>Password:</p>
            <input type="password" class="login-input-password"/>
        </div>
        <button type="submit" class="btn-login-submit">Log in</button>
    </form>
</div>
