<h2>Fight form! Choose two fighters</h2>
<form action="/arena/fight" method="POST">
{{> warrior-select select-name="warrior1"}}
    {{> warrior-select select-name="warrior2"}}
    <br>
    <button type="submit" class = "btn-submit-fight">Let the battle begin</button>
</form>
